[submodule "content/Hardware/Xperia XZ1 Compact"]
	path = content/Hardware/Xperia XZ1 Compact
	url = https://github.com/esno/xperia-xz1-compact.git
[submodule "content/Hardware/Lenovo Yoga Slim 7/BIOS unlock"]
	path = content/Hardware/Lenovo Yoga Slim 7/BIOS unlock
	url = https://github.com/esno/yoga-bios-unlock.git
[submodule "content/Software/rluksd"]
	path = content/Software/rluksd
	url = https://github.com/esno/rluksd.git
[submodule "content/Software/lua-lsw"]
	path = content/Software/lua-lsw
	url = https://github.com/esno/lua-lsw.git
